{%extends "index.html"%}
{%block content%}
    This is the about page
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ipsa ipsam molestiae quos laboriosam nemo! Inventore cum dolorem necessitatibus voluptatem accusantium soluta placeat corporis tempore labore dolores et consectetur esse cupiditate omnis aperiam, libero consequatur assumenda nobis eveniet aliquid similique. Ducimus odit quod aliquam inventore assumenda vero ipsam qui libero dicta eligendi quidem doloribus asperiores nam cum tempore fugiat minus consequatur unde, soluta fuga sunt temporibus necessitatibus laboriosam. Rem, omnis?
{%endblock content%}

