{%extends "index.html"%}
{%block content%}
    This is the explore page 
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit quas aut soluta voluptas exercitationem velit aliquam quod, fuga reiciendis a dolore, eius saepe dolor. Ipsam, ducimus qui exercitationem pariatur quaerat quis inventore, neque alias officiis assumenda consequatur eum amet, quae animi! Non ipsum provident repellat, ut, sunt asperiores est velit id debitis eligendi odio consectetur unde libero placeat culpa obcaecati incidunt sed labore dolore sapiente! Corrupti officia laborum delectus cum.   
{%endblock content%}

