{%extends 'index.html'%}
{%block content%}
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus atque tenetur corrupti, inventore placeat numquam, illum quos veritatis nulla architecto, expedita accusantium cum? Nesciunt pariatur sed ipsum aperiam harum non perferendis. At in expedita atque quas dolorem odit quasi repudiandae voluptas nobis asperiores exercitationem maxime placeat, fugiat nesciunt voluptatibus accusantium molestias esse maiores minima facilis. Velit excepturi dignissimos eligendi voluptatibus a amet voluptatum sequi nisi, atque iste voluptates error ad?
{%endblock content%}
