{%extends "index.html"%}
{%block content%}
    This is the travel page
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci illum sapiente laborum architecto iure blanditiis a cupiditate! Saepe modi, error quas repellat incidunt quos eligendi nobis velit temporibus tempora in earum commodi nulla obcaecati laborum unde a libero? Expedita ut accusamus atque cumque possimus amet voluptatibus temporibus! Porro ipsa eius a deleniti illum adipisci vitae unde possimus. Aperiam inventore ratione, natus porro, culpa velit exercitationem aliquid temporibus quia earum esse?
{%endblock content%}

